<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Musho :: Congratulations, you have shortened a link!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/theme/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/static/theme/usebootstrap.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="bootstrap/html5shiv.js"></script>
      <script src="bootstrap/respond.min.js"></script>
      <![endif]-->
    <style type="text/css">
      #nolongurls {
         margin: 0px auto;
         width: 450px;
      }
      div#form-well {
         margin-top: 125px;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Musho</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">


	  <!--
	  <ul class="nav navbar-nav navbar-right">
            <li><a href="#" target="_blank">Shorten a new url</a></li>
	  </ul>
	  -->

        </div>
      </div>
    </div>


    <div class="container">

      <!-- Forms
      ================================================== -->
      <div class="bs-docs-section">
        <div class="row">
	  <div class="col-lg-6">
	    <img class="img-responsive img-circle" id="nolongurls" src="/static/images/musho_yes.jpg">
	  </div>


          <div class="col-lg-6">
            <div class="well bs-component">
              <h3>Congratulations!</h3>
              <p>You have just shortened a long URL!</p>
              <p>Here is your shortened url: <a href="{{ url }}">{{ url }}</a></p>
              <br>
              <br>
              <br>
              <p>Would you like to <a href="/">shorten another link</a>?</p>
            </div>
          </div>


        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/bootstrap/bootstrap.min.js"></script>
  </body>
</html>
